<div class="row justify-content-center">
  <div class="col-8 mt-4">
    <h4>Products</h4>
    <div class="text-right d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-success"
        (click)="navigateToAddPage()">
          Add New Product <i class="fas fa-plus"></i>
      </button>
      <div class="total-price font-weight-bold display-6">Total: {{ totalPrice | currency }}</div>
    </div>
    <div class="row">
      <ng-container *ngIf="(products$ | async)?.length; else NoProducts">
        <div
        class="col-lg-4 col-md-6 mt-3"
        *ngFor="let product of products$ | async">
        <div class="card">
          <img
            src="{{ product.imageUrl }}"
            class="card-img-top"
            alt="Product Image">
          <div class="card-body">
            <h6 class="card-title">{{ product.name | titlecase }}</h6>
            <p class="card-text">Price : {{ product.price | currency }}</p>
            <div class="col-5">
              Quantity: <span>{{ product.quantity }}</span>
            </div>
          </div>
          <div class="text-center mb-1">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic example">
              <button
                type="button"
                                  class="btn btn-info"
                [routerLink]="['/product/get', product.id]">
                <i class="fas fa-search"></i>
              </button>
              <button
                type="button"
                                  class="btn btn-warning"
                [routerLink]="['/product/edit', product.id]">
                <i class="fas fa-edit"></i>
              </button>
              <button
                type="button"
                                  class="btn btn-danger"
                (click)="deleteProduct(product.id)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      </ng-container>


    </div>
  </div>
</div>


<ng-template #NoProducts>
  <p class="d-flex justify-content-center mt-4 display-5 font-weight-bold">
    No products to display. <br>
    Please, add new product by click on button 'Add New Product'
  </p>
</ng-template>

